h1{
    padding-top: 150px;
    font-size: 90px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px black;
    margin-bottom: 10px;
}

.start ul{
    margin: 0;
    padding: 0;
}
.start ul li{
    display: block;
}

.highscores{
    text-align: center;
}
.highscores li{
    width: 320px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 20px;
}

.highscores li .name{
    float: left;
    font-weight: bold;
}

.highscores li .hscore{
    float: right;
}

a {
    display: block;
    padding: 10px;
    width: 300px;
    margin: 20px auto;
    background: red;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 1px 2px 0 2px black;
    text-align: center;
}

a:hover{
    box-shadow: 1px 1px 0 1px black;
    margin-bottom: 19px;
    padding-top: 11px;
}

a.to_game{
    font-size: 24px;
}

h2{
    padding-top: 100px;
    font-size: 60px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px black;
}

.about p{
    width: 700px;
    margin: 0 auto;
}

.highscores h2{
    padding-top: 0;
}

.highscores-list{
    width: 700px;
    margin: 0 auto;
}

.scorelist{
    float: left;
    width: 300px;
}